@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Montserrat:700);

.source {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.source-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}


.test-drive-bg {
  background: url(http://images.waysideco.ca/dos2016/testDrive_bg_sm.jpg) no-repeat center top scroll; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-color:#000;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .test-drive-bg {
      background: url(http://images.waysideco.ca/dos2016/testDrive_bg_md.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color:#000;
    }
}

.red-noise {
    background: url(http://images.waysideco.ca/dos2016/red_noise.png) repeat; 
}

.blue-noise {
    background: url(http://images.waysideco.ca/dos2016/blue_noise.png) repeat; 
}

.box {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 2px 15px 3px #080808;
    box-shadow: 0 2px 15px 3px #080808;
}

.box-margin-top {
    margin-top: 25%;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
     .box-margin-top {
        margin-top: 0%;
    }
}

.form-control {
    background-color:#000;
    border-color:#FF1D1B;
    color:#fff;
}

.label-shadow {
    text-shadow: 1px 1px 1px #CA3F3E;
}

#trade-in-text {
    font-size:18px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
       #trade-in-text {
        font-size:40px;
    }
}